body {
  display: flex;
  flex-direction: column;
  font-family: "Cascadia Mono", sans-serif;
  background-color: #2f1a40;
  font-optical-sizing: auto;
}

input {
  width: 100%;
  text-align: end;
  height: 200px;
  font-size: 80px;
}

button {
  width: 25%;
  height: 150px;
  box-sizing: border-box;
  background-color: #2f1a40;
  color: #a4a1a6;
  font-size: 80px;
  border: 2px solid #a4a1a6;
}

.horizontal {
  display: flex;
}

.buttons {
  display: flex;
}
